<div class="list-group" ng-controller="ExploreNavController">
    <h6 class="list-group-title">EXPLORE</h6>
    <a href="/" class="list-group-item" ng-class="{active: feedActive}">Feed <i
            class="icon icon-chevron-right"></i></a>
    <a href="/people" class="list-group-item" ng-class="{active: peopleActive }">People <i class="icon icon-chevron-right"></i></a>
    <a href="/topics" class="list-group-item" ng-class="{active: topicsActive }">Topics <i class="icon icon-chevron-right"></i></a>
</div>