<h6 class="list-group-title">Tools</h6>
<ul data-ng-controller="ToolsController">
    <li>
        <a href="/credit-packages"><i class="icon icon-dollar"></i>Buy Credits</a>
        <span class="text-badge">{{ credits }}</span>
    </li>
    <li><a href="/statements-earnings"><i class="icon icon-clipboard"></i>Statements</a></li>
    <li><a href="/withdrawals"><i class="icon icon-wallet"></i>Withdrawals</a></li>
    <li><a href="/payment-settings"><i class="icon icon-credit-card"></i>Payment Preferences</a></li>
    <li class="divider"><a href="/chat-settings"><i class="icon icon-comment-ellipsis"></i>Chat
        Settings</a></li>
    <li><a href="/general-settings"><i class="icon icon-settings"></i>General Settings</a></li>
    <li class="divider"><a href="/about"><i class="icon icon-info-circle"></i>About Us</a></li>
    <li><a href="/contact"><i class="icon icon-envelope"></i>Contact Us</a></li>
    <li><a href="/terms-and-conditions"><i class="icon icon-documents"></i>Terms and Conditions</a></li>
    <li><a href="/privacy-policy"><i class="icon icon-flag"></i>Privacy Policy</a></li>
    <li><a href="/sitemap"><i class="icon icon-sitemap"></i>Sitemap</a></li>
    <li><a href="/logout"><i class="icon icon-close-circle"></i>Logout</a></li>
</ul>