<div class="landing">
    <div class="wrapper-landing">
        <div class="all-landing">
            <div class="landing-width">
                <header class="header-landing">
                    <a href="" ng-click="reloadPage()" class="logo-landing">
                        <img src="/images/landing-logo.png" alt="logo">
                    </a>
                    <!-- /.logo-landing -->
                </header>

                <div class="content-landing">
                    <div class="wrap-column-content-landing confirmation">
                        <h2>You are successfully logged out.</h2>
                        <p>Thank you for using Txtprt. Please come back to visit us soon, we will be waiting...</p>
                        <button class="btn btn-info" ng-click="reloadPage()">Return to homepage</button>
                    </div> <!-- /.wrap-column-content-landing -->
                </div> <!-- /.content-landing -->

                <div class="text-bottom-landing">Chat with experts about anything</div>
            </div>
        </div> <!-- /.all-landing -->
    </div> <!-- /.wrapper-landing -->

</div>
