<div class="landing">
    <div class="wrapper-landing">
        <div class="all-landing">
            <div class="landing-width">
                <ng-include src="'/app/partials/auth/includes/header.html'"></ng-include>
                <!-- /.header-landing -->
                <div class="content-landing" ng-hide="email_sent">
                    <div class="wrap-column-content-landing">
                        <div class="column-content-landing">
                            <h4>Forgot Password? We can help!</h4>

                            <form class="form-landing" name="forms.recoverForm">
                                <div class="form-group has-top-16">
                                    <input class="form-control" type="text" name="email" ng-model="email"
                                           placeholder="Email address..." server-error>
                                    <label class="errors.email" ng-show="errors"
                                           ng-repeat="error in errors.email"
                                           style="display: block; margin-top: 10px; margin-bottom: 0px">
                                        {{ error }}
                                    </label>
                                </div>
                                <div class="form-group has-top-16">
                                    <a href="/login" class="btn btn-link pos-left">Back to login</a>
                                    <button type="button" class="btn btn-primary pos-right" ng-click="recover()"
                                            ng-disabled="forms.recoverForm.$invalid">Reset password
                                    </button>
                                </div>
                            </form>
                        </div>
                        <ng-include src="'/app/partials/auth/includes/oauth_section.html'"></ng-include>
                        <!-- /.column-content-landing -->
                    </div>
                    <!-- /.wrap-column-content-landing -->
                    <footer class="footer-content-landing">
                        <p>By authenticating and signing up you indicate that you have read and agree to the <span>Terms of Service.</span>
                        </p>
                    </footer>
                </div>

                <div class="content-landing" ng-show="email_sent">
                    <div class="wrap-column-content-landing confirmation">
                        <h2>Password Recovery Email Sent</h2>

                        <p>An email has been sent to the email address you provided.<br>
                            Please follow the instructions in the email to reset you password and continue using Txtprt.
                        </p>

                    </div>
                    <!-- /.wrap-column-content-landing -->

                    <footer class="footer-content-landing">
                        <p>By authenticating and signing up you indicate that you have read and agree to the <span>Terms of Service.</span>
                        </p>
                    </footer>
                </div>
                <!-- /.content-landing -->
                <p class="text-bottom-landing">Chat with experts about anything</p>
            </div>
            <!-- /.landing-width -->
        </div>
        <!-- /.all-landing -->
    </div>
    <!-- /.wrapper-landing -->
    <ng-include src="'/app/partials/auth/includes/footer.html'"></ng-include>
</div>
