<div class="landing">
    <div class="wrapper-landing">
        <div class="all-landing">
            <ng-include src="'/app/partials/auth/includes/header.html'"></ng-include>

            <div class="content-landing" ng-hide="password_changed || link_invalid">
                <div class="wrap-column-content-landing">
                    <div class="column-content-landing">
                        <h3>Great, you’re almost done!</h3>
                        <p>Now that your identity is set, we need to take care of the security. Please choose a password for your account.</p>
                    </div>
                    <div class="column-content-landing">
                        <h3>Choose a password</h3>
                        <form class="form-landing" name="passwordForm" ng-submit="change()">
                            <div role="alert" class="alert alert-danger margin-bottom" ng-show="notMatch">
                                The two passwords must match
                            </div>
                            <input class="form-control" type="password" placeholder="Your password..." ng-model="new_password1" required>
                            <input class="form-control" type="password" placeholder="Confirm password... " ng-model="new_password2" required>
                            <button type="submit" class="btn btn-info pos-right" ng-disabled="passwordForm.$invalid">Change my password</button>
                        </form>
                    </div> <!-- /.column-content-landing -->
                </div> <!-- /.wrap-column-content-landing -->
                <footer class="footer-content-landing">
                    <p>By authenticating and signing up you indicate that you have read and agree to the <span>Terms of Service.</span></p>
                </footer>
            </div> <!-- /.content-landing -->


            <div class="content-landing" ng-show="password_changed">
                <div class="wrap-column-content-landing confirmation">
                    <h2>Password changed successfully</h2>
                    <p>You can continue using Txtprt.</p>
                    <button class="btn btn-info" ng-click="location.path('/')">Continue</button>
                </div> <!-- /.wrap-column-content-landing -->
                <footer class="footer-content-landing">
                    <p>By authenticating and signing up you indicate that you have read and agree to the <span>Terms of Service.</span></p>
                </footer>
            </div> <!-- /.content-landing -->

            <div class="content-landing" ng-show="link_invalid">
                <div class="wrap-column-content-landing confirmation">
                    <h2>This link is no longer valid</h2>
                    <p>Please return to the password reset page and try again.</p>
                    <button class="btn btn-info" ng-click="location.path('/password-reset')">Continue</button>
                </div> <!-- /.wrap-column-content-landing -->
                <footer class="footer-content-landing">
                    <p>By authenticating and signing up you indicate that you have read and agree to the <span>Terms of Service.</span></p>
                </footer>
            </div> <!-- /.content-landing -->


            <div class="text-bottom-landing">Chat with experts about anything</div>
        </div> <!-- /.all-landing -->
    </div> <!-- /.wrapper-landing -->
    <ng-include src="'/app/partials/auth/includes/footer.html'"></ng-include>
</div>

