<ng-include src="'/app/partials/default/includes/header.html'"></ng-include>
<link href="http://glyphsearch.com/bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet">
<main class="container">
                <aside class="left-sidebar menu-mobile">
                    <form class="menu-mobile-search has-feedback left-control-feedback">
                        <input type="text" placeholder="Search">
                        <i class="icon icon-search form-control-feedback"></i>
                    </form>
                    <!-- /.list-group -->
                    <nav class="nav-groups">
                        <ng-include src="'/app/partials/default/includes/tools-nav.html'"></ng-include>
                    </nav>
                    <!-- /.nav-groups-->
                    <div class="have-questions">
                        <p class="have-questions-title">Have questions?</p>

                        <p class="have-questions-content">Our experts are here to answer.</p>
                        <a class="btn btn-primary" href="/question/ask"><i class="icon icon-pencil"></i> Ask a question</a>
                    </div>
                </aside>
                <!-- /.sidebar -->
                <section class="layout-row">
                    <section class="panel panel-about text-center">
                        <div class="panel-body">
                            <h2>Txtprt is here to help you get answers to your questions and find expert advice on any topic</h2>
                            <p>Ask questions and get real answers from real people. Chat with a real professional about any topic you can think of.</p>
                        </div>
                    </section>

                        <div class="panel panel-about-content clearfix">
                            <div class="about-left">
                                <ul class="about-list">
                                    <li>
                                        <h4>Post your questions &amp; read answers to others' questions</h4>
                                        <p>Search through a huge number of topics to find answers, or post a unique question and get responses from our community of Experts.</p>
                                        <p><a href="explore-new.html" class="btn btn-primary">Start exploring</a></p>
                                    </li>
                                    <li>
                                        <h4>Find experts in any field imaginable and chat with them</h4>
                                        <p>Real time instant messenger chat on your computer or your mobile device with a huge number of experts.</p>
                                        <p><a href="people.html" class="btn btn-primary">See our experts</a></p>
                                    </li>
                                    <li>
                                        <h4>Earn money as an expert by answering questions</h4>
                                        <p>Experts can earn real money for answering questions and offering advice.  Anyone can be an expert and start earning money immediately.</p>
                                        <p><a href="become-an-expert.html" class="btn btn-primary">Become an expert</a></p>
                                    </li>
                                </ul>
                            </div>
                            <div class="about-right">
                                <img src="images/txtprt-laptop.jpg" alt="" />
                            </div>
                        </div>
                </section>
                <!-- /.layout-row -->
            </main>
<ng-include src="'/app/partials/default/includes/footer.html'"></ng-include>