<ng-include src="'/app/partials/default/includes/header.html'"></ng-include>

<main class="container">
				<aside class="left-sidebar menu-mobile">
					<form class="menu-mobile-search has-feedback left-control-feedback">
						<input type="text" placeholder="Search">
						<i class="icon icon-search form-control-feedback"></i>
					</form>
					<nav class="nav-groups">
						<h6 class="list-group-title">Tools</h6>
						<ul>
							<li><a href="/about"><i class="icon icon-info-circle"></i>About Us</a></li>
							<li><a href="contact.html"><i class="icon icon-envelope"></i>Contact Us</a></li>
							<li><a href="/terms-and-conditions"><i class="icon icon-documents"></i>Terms and Conditions</a></li>
							<li><a href="/privacy-policy"><i class="icon icon-flag"></i>Privacy Policy</a></li>
							<li><a href="/sitemap"><i class="icon icon-sitemap"></i>Sitemap</a></li>
							<li><a href="/logout"><i class="icon icon-close-circle"></i>Logout</a></li>
						</ul>
					</nav>
					<!-- /.nav-groups-->
				</aside>
				<!-- /.sidebar -->
				<section class="layout-row">
					<section class="panel panel-default">
						<header class="panel-heading">
							<h4 class="panel-title">Account suspended</h4>
						</header>
						<div class="panel-body">
							<h3 class="has-bottom-12">Oh no, your account has been suspended</h3>
							<p>To resolve this issue, please contact us.<br />
							You may contact us at <a href="mailto:">support@txtprt.co</a> or through our contact form:</p>
							<p><a href="#" class="btn btn-primary">Click here to contact us</a></p>
						</div>
					</section>
				</section>
				<!-- /.layout-row -->
			</main>

<ng-include src="'/app/partials/default/includes/footer.html'"></ng-include>





