<ng-include src="'/app/partials/default/includes/header.html'"></ng-include>
<main class="container">
    <aside class="left-sidebar menu-mobile">
        <form class="menu-mobile-search has-feedback left-control-feedback">
            <input type="text" placeholder="Search">
            <i class="icon icon-search form-control-feedback"></i>
        </form>
        <ng-include src="'/app/partials/default/includes/explore-nav.html'"></ng-include>
        <!-- /.list-group -->
        <nav class="nav-groups">
            <ng-include src="'/app/partials/default/includes/tools-nav.html'"></ng-include>
        </nav>
        <!-- /.nav-groups-->
        <div class="have-questions">
            <p class="have-questions-title">Have questions?</p>

            <p class="have-questions-content">Our experts are here to answer.</p>
            <a class="btn btn-primary" href="/question/ask"><i class="icon icon-pencil"></i> Ask a question</a>
        </div>
    </aside>
    <!-- /.sidebar -->
    <section class="layout-row">
        <div class="alert alert-success alert-dismissible" id="success" role="alert" ng-show="showSuccess">
            <button type="button" class="close" ng-click="showSuccess=false;">
                <i class="icon icon-close"></i>
            </button>
            <i class="icon icon-done"></i>
            Message cost successfully submitted.
        </div>
        <div class="alert alert-danger alert-dismissible" id="error" role="alert" ng-show="showError">
            <button type="button" class="close" ng-click="showError=false;">
                <i class="icon icon-close"></i>
            </button>
            <i class="icon icon-done"></i>
            <span ng-if="error != ''">{{ error }}</span>
        </div>
        <div class="content content-220">
            <div class="content-margin">
                <section class="panel panel-default">
                    <header class="panel-heading">
                        <h4 class="panel-title">Change message cost</h4>
                    </header>
                    <div class="panel-body">
                        <form class="form-horizontal">
                            <div class="form-group">
                                <label for="">Message cost:</label>

                                <div class="dropdown">
                                    <button data-toggle="dropdown" type="button"
                                            class="btn btn-default dropdown-toggle">
                                        {{ messageCost }} credits (${{ messageCost / 100 }})
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li style="padding: 0 10px;" class="cost-input">
                                            <input type="text" ng-model="newCost" class="form-control new-cost-input">

                                        </li>
                                        <li ng-repeat="line in history"><a href=""
                                                                           ng-click="setNewCost(line.cost)">{{ line.cost }}
                                            credits (${{ line.cost / 100 }})</a></li>
                                    </ul>
                                    <!-- /.dropdown-menu -->
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="">Earnings share:</label>
                                <span class="txt-horizontal">Your share is <b>{{ commission * 100 }}%</b> of each message received. <br> You earn <b>{{ parseInt(messageCost * commission) }}
                                    credits (${{ (messageCost * commission)/100 }})</b> per message.</span>
                            </div>
                        </form>
                    </div>
                    <footer class="panel-footer">
                        <button type="submit" class="btn btn-primary" ng-click="updateMessageCost()">Update message
                            cost
                        </button>
                    </footer>
                </section>
            </div>
            <!-- /.content-margin -->
        </div>
        <!-- /.content -->
        <div class="right-220">
            <nav class="nav-groups">
                <h6 class="list-group-title">Other settings</h6>
                <ul>
                    <li>
                        <a href="" ng-click="closeAllChats();">Close all chats</a>
                    </li>
                    <li>
                        <a href="/general-settings">Go to general settings</a>
                    </li>
                    <li>
                        <a href="/payment-settings">Go to payment settings</a>
                    </li>
                </ul>
            </nav>
            <!-- /.nav-groups-->
        </div>
        <!-- /.right-220 -->
        <div style="clear:both"></div>
    </section>
    <!-- /.layout-row -->
</main>
<!-- /.container.clearfix -->
<ng-include src="'/app/partials/default/includes/footer.html'"></ng-include>


<ng-include src="'/app/partials/default/includes/report-modal.html'"></ng-include>

