<ng-include src="'/app/partials/default/includes/header.html'"></ng-include>
<main class="container">
    <div class="sidebar-user-top mobile-user">
        <div class="mobile-user-wrap-img">
            <a href="" class="container-img">
                <img ng-src="{{ user.avatar_big }}">
            </a>
        </div>
        <!-- /.mobile-user-wrap-img -->
        <h3 class="sidebar-user-title">{{ user.username }} <i class="icon icon-shield shield-color"></i></h3>

        <p class="sidebar-contact-user">
            <span ng-if="user.age != 0">{{ user.age }}, </span> <span ng-if="user.gender == 'M'">Male</span> <span
                ng-if="user.gender == 'F'">Female</span> &bull; ,
            {{ location.city }}, {{ location.region }} &bull; {{ user.num_followers }} Followers &bull;
            <!-- 49 Likes -->
        </p>
        <!-- /.sidebar-contact-user -->
    </div>
    <nav class="mobile-profile margin-bottom">
        <a href="/profile/{{ user.user_id }}" class="link-profile active">View profile</a>
        <a href="/profile/certification" class="link-profile">Get certified</a>

        <div class="link-more-profile dropdown">
            <a class="dropdown-toggle" href="#">
                <i class="icon icon-order"></i>
            </a>
            <ul class="dropdown-menu dropdown-menu-right dropdown-menu-angle dropdown-menu-top">
                <li><a tabindex="-1" href="#">Text</a></li>
            </ul>
        </div>
    </nav>
    <aside class="left-sidebar menu-mobile">
        <form class="menu-mobile-search has-feedback left-control-feedback">
            <input type="text" placeholder="Search">
            <i class="icon icon-search form-control-feedback"></i>
        </form>
        <div class="sidebar-user-top margin-bottom">
            <a href="" class="container-img">
                <img ng-src="{{ user.avatar }}">
            </a> <!-- /.container-img -->
            <h3 class="online" ng-class="{'online-mean': user.online_status == 'online'}">{{ user.username }} &nbsp;<i
                    class="icon icon-shield shield-color" ng-if="user.is_expert"></i></h3>
            <ul class="list-user">
                <li><span ng-if="user.age != 0">{{ user.age }}</span> <span ng-if="user.gender == 'M'">male</span> <span
                        ng-if="user.gender == 'F'">female</span></li>
                <li ng-if="user.location">{{ user.location }}</li>
            </ul>
        </div>
        <!-- /.sidebar-user-top -->
        <div class="list-group">
            <h6 class="list-group-title">Profile</h6>
            <a href="/profile/{{ user.user_id }}" class="list-group-item active">View profile <i
                    class="icon icon-chevron-right"></i></a>

            <a href="/profile/certification" class="list-group-item">Get certified <i
                    class="icon icon-chevron-right"></i></a>
        </div>
        <!-- /.list-group -->

        <nav class="nav-groups">
            <ng-include src="'/app/partials/default/includes/tools-nav.html'"></ng-include>
        </nav>
        <!-- /.nav-groups-->
        <div class="have-questions">
            <p class="have-questions-title">Have questions?</p>

            <p class="have-questions-content">Our experts are here to answer.</p>
            <a class="btn btn-primary" href="/question/ask"><i class="icon icon-pencil"></i> Ask a question</a>
        </div>
    </aside>
    <!-- /.sidebar -->
    <section class="layout-row">
        <div class="alert alert-info alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <i class="icon icon-close"></i>
            </button>
            <i class="icon skimpy-icon info-circle"></i>
            Complete your profile to appear in the search results! <a href="profile-edit.html" class="alert-link">Edit
            profile now</a>
        </div>
    </section>
    <!-- /.layout-row -->
    <section class="layout-row">
        <section class="panel content-wrapper clearfix">
            <ul id="panel-tabs" class="nav nav-tabs list-unstyled">
                <li class="active"><a href=""><i class="icon icon-search"></i> Search people</a></li>
                <li><a href="" class="no-border"><i class="icon icon-eye"></i> Sort Results</a></li>
                <li><a href="javascript:void(0)" class="no-border"
                       ng-click="setFilter({order_by: 'A'}); getFollowing();">A-Z</a></li>
                <li><a href="javascript:void(0)" class="no-border"
                       ng-click="setFilter({order_by: 'Z'}); getFollowing();">Z-A</a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active">
                    <form class="form-inline">
                        <div class="form-group">
                            <input type="text" placeholder="Search by name..." class="form-control" ng-model="q">
                        </div>
                        <!-- /.form-group -->
                        <div class="form-group">
                            <div class="dropdown">
                                <button class="btn btn-default dropdown-toggle" type="button"
                                        data-toggle="dropdown">
                                    {{ currentGenderFilter }}
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a href=""
                                           ng-click="deleteFilter('gender'); updateGenderTitle('Any gender')">Any
                                        gender</a>
                                    </li>
                                    <li><a href=""
                                           ng-click="setFilter({gender: 'M'}); updateGenderTitle('Male')">Male</a>
                                    </li>
                                    <li><a href=""
                                           ng-click="setFilter({gender: 'F'}); updateGenderTitle('Female')">Female</a>
                                    </li>
                                </ul>
                                <!-- /.dropdown-menu -->
                            </div>
                            <!-- /.form-group -->
                        </div>
                        <!-- /.form-group -->
                        <div class="form-group">
                            <div class="dropdown">
                                <button class="btn btn-default dropdown-toggle" type="button"
                                        data-toggle="dropdown">
                                    {{ currentOnlineFilter }}
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a href=""
                                           ng-click="deleteFilter('is_online'); updateOnlineTitle('Online status')">Any</a>
                                    </li>
                                    <li><a href=""
                                           ng-click="setFilter({is_online: true}); updateOnlineTitle('Is Online')">Is
                                        Online</a>
                                    </li>
                                    <li><a href=""
                                           ng-click="setFilter({is_online: false}); updateOnlineTitle('Is Offline')">Is
                                        Offline</a>
                                    </li>
                                </ul>
                                <!-- /.dropdown-menu -->
                            </div>
                            <!-- /.form-group -->
                        </div>
                        <!-- /.form-group -->
                        <div class="form-group">
                            <div class="dropdown">
                                <button class="btn btn-default dropdown-toggle" type="button"
                                        data-toggle="dropdown">
                                    {{ currentHasPhotoFilter }}
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a href=""
                                           ng-click="deleteFilter('has_avatar'); updateHasPhotoTitle('Avatar status')">Any</a>
                                    </li>
                                    <li><a href=""
                                           ng-click="setFilter({has_avatar: true}); updateHasPhotoTitle('Has Photo')">Has
                                        Photo</a>
                                    </li>
                                    <li><a href=""
                                           ng-click="setFilter({has_avatar: false}); updateHasPhotoTitle('No Photo')">No
                                        Photo</a>
                                    </li>
                                </ul>
                                <!-- /.dropdown-menu -->
                            </div>
                            <!-- /.form-group -->
                        </div>
                        <!-- /.form-group -->
                        <div class="form-group">
                            <button type="button" class="btn btn-primary" ng-click="getFollowing()">Find people</button>
                        </div>
                        <!-- /.form-group -->
                        <div class="form-group">
                            <a href="/people/search" class="btn btn-link" type="button">Advanced search?</a>
                        </div>
                        <!-- /.form-group -->
                    </form>
                    <!-- /.form-inline -->
                </div>
                <!-- /.tab-pane -->
            </div>
            <!-- /.tab-content -->
        </section>
        <section class="people clearfix" infinite-scroll="loadMore()" infinite-scroll-distance="1">
            <div class="people-wrapper" ng-repeat="user in followingData.following">
                <div class="people-box">
                    <div class="media">
                        <div class="media-left avatar-container">
                            <div class="is-online"
                                 ng-class="{online:(user.online_status == 'online'), offline:(user.online_status == 'offline')}">

                            </div>
                            <a href="/profile/{{ user.user_id }}" class="container-img media-width-lg">
                                <img ng-src="{{ user.avatar }}">
                            </a>
                        </div>
                        <div class="media-body vertical-media-body">
                            <h4 class="media-heading"><a href="/profile/{{ user.user_id }}">{{ user.username }}</a> <i
                                    class="icon icon-shield shield-color" ng-if="user.is_expert"></i></h4>

                            <div class="msg-block">
                                {{ user.msg_cost }} / msg.
                            </div>
                        </div>
                    </div>
                    <p class="has-top-12">{{ user.about }}</p>

                    <p class="people-info by-text-style" ng-if="user.knows_about.length > 0">
                        <a class="shield-color"><b>{{ user.knows_about[0].name }}</b></a> <span
                            ng-if="user.knows_about.length > 1">&amp;</span>
                        <a href="/profile/{{ user.user_id }}/knowledge"
                           ng-if="user.knows_about.length > 1"><b>{{ user.knows_about.length - 1 }} more</b></a>
                    </p>

                    <div>
                        <a href="javascript:void(0)" ng-click="followUser(user)" class="btn btn-default"
                           ng-if="!user.is_following && !isSelf(user)">Follow<span
                                class="btn-count">{{ user.num_followers }}</span></a>
                        <a href="javascript:void(0)"  ng-click="unfollowUser(user)" class="btn btn-primary" ng-if="user.is_following && !isSelf(user)">Following<span
                                class="btn-count">{{ user.num_followers }}</span></a>
                        <a href="chat.html" class="btn btn-chat pos-right"><i class="icon icon-comments"></i></a>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </section>
        <!-- /.wrapper-column -->
    </section>
    <!-- /.layout-row -->
</main>
<ng-include src="'/app/partials/default/includes/footer.html'"></ng-include>