<ng-include src="'/app/partials/default/includes/header.html'"></ng-include>
<link href="http://glyphsearch.com/bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet">
<main class="container">
				<aside class="left-sidebar menu-mobile">
					<form class="menu-mobile-search has-feedback left-control-feedback">
						<input type="text" placeholder="Search">
						<i class="icon icon-search form-control-feedback"></i>
					</form>
					<nav class="nav-groups">
						<h6 class="list-group-title">Tools</h6>
						<ul>
							<li><a href=""><i class="icon icon-info-circle"></i>About Us</a></li>
							<li><a href="contact.html"><i class="icon icon-envelope"></i>Contact Us</a></li>
							<li><a href="terms.html"><i class="icon icon-documents"></i>Terms and Conditions</a></li>
							<li><a href="privacy.html"><i class="icon icon-flag"></i>Privacy Policy</a></li>
							<li><a href="sitemap.html"><i class="icon icon-sitemap"></i>Sitemap</a></li>
							<li><a href=""><i class="icon icon-close-circle"></i>Logout</a></li>
						</ul>
					</nav>
					<!-- /.nav-groups-->
				</aside>
				<!-- /.sidebar -->
				<section class="layout-row">
					<section class="panel panel-default">
						<header class="panel-heading">
							<h4 class="panel-title">User not found</h4>
						</header>
						<div class="panel-body">
							<h3 class="has-bottom-12">This profile no longer exists</h3>
							<p>This can happen for many reasons. Sometimes users delete or deactivate their accounts.<br />
							Don't worry, we have for you more <b>interesting people to explore</b>:</p>
							<p><a href="people.html" class="btn btn-primary">Explore people</a></p>
						</div>
					</section>
				</section>
				<!-- /.layout-row -->
			</main>
<ng-include src="'/app/partials/default/includes/footer.html'"></ng-include>